.footer{
    width: 100%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #f44336;
    padding-block: 0.5rem;
 

}

.footer h2{
    font-size: 0.75rem;
    font-weight: 500;
}